name: Build iOS App

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build_ios:
    name: Build iOS IPA
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3

      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          architecture: x64

      - name: Get dependencies
        run: flutter pub get

      - name: Build iOS (No Codesign)
        run: |
          flutter build ios --release --no-codesign

      - name: Create IPA Structure
        run: |
          mkdir Payload
          mv build/ios/iphoneos/Runner.app Payload
          zip -r app-release.ipa Payload

      - name: Upload IPA
        uses: actions/upload-artifact@v4
        with:
          name: ios-app-release
          path: app-release.ipa
